<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./head') %>
    <title>Detalle de Producto</title>
  </head>
  <body>
    <section Class="flex">
      <% for(let prod of productos){%>
      <div class="product-wrapper box-shadow margin-1 w-20">
        <article class="flex text-center">
          <a href="/product/detail/<%= prod.id %> ">
            <img
              class="imgs center"
              src="imgProductos/<%=prod.imagen%>"
              alt="<%= prod.producto%>"
              max-width="100px"
              />
            <div class="product-content text-align zindex-1">
              <p class="style-h4"><%= prod.producto%></p>
              <h4 class="descripciones"><%= prod.proveedor%></h4>
              <p class="precios">Precio: $<%=prod.precio%>.00</p>
            </div>
            <div class="text-align padding-8">
            <form action="" method="GET">
          <button class="button_3" type="submit" >Comprar </button>
          </form>
        </div>
        </article>
      </div>
      <% } %>
    </section>
  </body>
</html>
