<!-- @format -->

<section>
  <div class="product-wrapper">
    <article class="product flex box-shadow bg-white">
      <img
        class="imgs"
        src="<%-productoUnico.imagen%>"
        alt="<%-productoUnico.producto%>"
        width="50%"
      />
      <div class="product-content text-align">
        <h4 class="style-h4"><%= productoUnico.proveedor%></h4>
        <p class="precios"><%= productoUnico.precio%></p>
        <p class="descripciones"><%= productoUnico.producto%></p>
      </div>
    </article>
  </div>
</section>
