<section>
  <div class="product-wrapper w-65 margin-auto ">
    <article class="product flex box-shadow bg-white">
      <img
        class="imgs"
        src="/imgProductos/<%=productoUnico.imagen%>"
        alt="<%=productoUnico.producto%>"
        width="200px"
      />
      <div class="product-content text-align">
        <p class="style-h4"><%= productoUnico.producto%></p>
        <h4 class="descripciones"><%= productoUnico.proveedor%></h4>
        <p class="precios">Precio: $<%= productoUnico.precio%>.00</p>
        <div class="text-align padding-8">
          <form action="" method="GET">
            <button class="button_3" type="submit" >Comprar </button>
          </form>
        </div>
      </div>
      </div>
    </article>
  </div>
</section>
