<!-- @format -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>
		<title>Detalle de Producto</title>
	</head>
	<body>
		<header class="background_amarillo">
			<%- include('partials/header') %>
		</header>
		<main id="main-content">
			<h3 class="style-h3">Detalle del item <%= productoUnico.id%></h3>
			<%- include('./partials/prodUnicoDetail')%>
		</main>
		<%- include('./partials/footer') %>
	</body>
</html>
