<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Listado de Productos</title>
  </head>
  <body class="paddingtop-18vh">
    <header class="fixed"><%- include('partials/header') %></header>
    <main id="main-content">
      <%- include('./partials/slider') %>
      <!-- <img
        class="banner w-35"
        src="/img/pexels-snapwire-310983.jpg"
        alt="banner"
      /> -->
      <section Class="flex">
        <% for( prod of productos){%>
        <div class="product-wrapper flex box-shadow margin-1 w-20 text-align">
          <article class="prodAll">
            <a href="/product/detail/<%= prod.id %> ">
              <div class="product-content zindex-1">
                <div>
                  <img
                    class="imgs center w-85 article-img"
                    src="imgProductos/<%=prod.imagen%>"
                    alt="<%= prod.producto%>"
                    max-width="100px"
                  />
                </div>
                <p class="style-h4"><%= prod.producto%></p>
                <p class="descripciones"><%= prod.proveedor%></p>
                <p class="descripciones">
                  Categoria: <%= prod.categoriaProduct.categoria%>
                </p>
                <p class="precios">Precio: $<%=prod.precio%>.00</p>
              </div>
              <div>
                <form action="" method="GET">
                  <button class="button_3" type="submit">Comprar</button>
                </form>
                <form action="" method="GET">
                  <button class="button_3" type="submit">
                    Agregar al Carrito
                  </button>
                </form>
              </div>
            </a>
          </article>
        </div>
        <% } %>
      </section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
